// Variables


// Site Color

$houseColor: mediumseagreen;
$houseShade: seagreen;





// Typography

$houseBodyFont: "jaf-facitweb";
// BrixSans
$headerFontSize: 0.8rem;
$footerFontSize: 0.72rem;
$footerFontWeight: 300;

// Typography Color

$color: #333333;
$colorLight: #999999;
$colorKnockout: #FFFAFA;





// Media Query

$containerWidthDesktop: 960px;
$containerWidthTablet: 800px;
$containerWidthIpad: 720px;
$containerWidthPhone: 640px;
$copyWidth: 640px;
$copyMarginDesktop: 24px auto 0 auto;
$copyMarginPhone: 24px 8px 0 8px;
$captionMarginDesktop: 8px auto 8px auto;
$captionMarginPhone: 0 8px 0 8px;
$listsMarginDesktop: 8px auto 0 auto;




// Button

$buttonRadius: 4px;