*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


/* Layout
----------------------------------------------------------------*/
html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	height: 101%;
}
.containerMasthead {
	margin: 16% auto 16%;
	width: 100%;
	height: 100%;
	display: table;
	clear: both;
}
.containerMastheadNoTitle {
	margin: 0 auto;
	width: 100%;
	height: 560px;
	height: auto;
	padding: 22% 0 13% 0;
}
.mastheadSpacer {
	margin-top: 80px;
}
.container {
	margin: 0 auto;
	max-width: 960px;
	min-width: 960px;
}
/* .container {
	margin: 0 auto;
	max-width: 100%;
	width: 90%;
} */
.containerWork {
	margin: 0 auto;
	width: 100%;
	min-width: 960px;
	text-align: left;
	min-height: 100%;
    position: absolute;
    top:100%;
    left:0px;
    right:0px;
}
.containerProject {
	margin: 0 auto;
	width: 100%;
	min-width: 960px;
	text-align: left;
	position: inherit;
/*    position: absolute;
    top:100%;
    left:0px;
    right:0px;
	clear: both; */
}
.containerInfo {
	margin: 0 auto;
	width: 100%;
	min-width: 640px;
	text-align: left;
	min-height: 100%;
    position: absolute;
}
footer {
	position: absolute;
	width: 100%;
	min-width: 960px;
	padding: 16px 0 16px 0;
	margin: 32px 0 0 0;
	background-color: mediumseagreen;
	text-align: center;
	font-size: 72%;
	color: #FFFFFF;
}
		.footerHome {
			width: 100%;
			min-width: 960px;
			text-align: center;
			font-size: 72%;
			color: #FFFFFF;
}


/* Header
----------------------------------------------------------------*/
header {
	position: fixed;
	width: 100%;
	min-width: 480px;
	padding-right: 8px;
	padding-left: 8px;
	background: rgb(51, 51, 51);
    background: rgba(51, 51, 51, .8);
}
.heroImage {
	width: 100%;
	height: 100%;
	position: absolute;
	min-width: 960px;
	background-size: 100%; 
	background-repeat: no-repeat;
	z-index: -1;
	clear: both;
}
.workImage {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0 0 0 0;
	width: 100%;
	min-width: 960px;
	height: 480px;
	background-size: 100%; 
}
.image {
	width: 100%;
	top: 0;
	position: relative;
}
.mastheadTitle {
	color: #FFFFFF;
	float: left;
	position: relative;
	margin: 8px 8px 8px 8px;
}
header .mastheadTitle
a,
a:hover,
a:active,
a:visited {
	font-weight: 600;
	color: #FFFFFF;
	text-decoration: none;
}
header div #mastheadNav {
	color: #FFFFFF;
	float: right;
	position: relative;
	margin: 16px 8px 8px 8px;
}
#mastheadNav ul li {
	color: #FFFFFF;
	list-style: none;
	display: inline;
	font-weight: 600;
}
#mastheadNav ul li a {
	border: 1px solid #FFFFFF;
	font-weight: 600;
	text-decoration: none;
	padding-right: 12px;
	padding-left: 12px;
	border-radius: 16px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
#mastheadNav ul li a.active {
	background-color: #FFFFFF;
	color: #333332;
	border: 1px solid #FFFFFF;
	font-weight: 600;
	padding-right: 12px;
	padding-left: 12px;
	border-radius: 16px;
}
#mastheadNav ul li a:hover {
	background-color: #FFFFFF;
	color: #333332;
	border: 1px solid #FFFFFF;
	font-weight: 600;
	padding-right: 12px;
	padding-left: 12px;
	border-radius: 16px;
}


/* Section
----------------------------------------------------------------*/



/* Home Background Image
----------------------------------------------------------------*/
.homeCover {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -2;
	-webkit-filter: brightness(72%);
}
#bg {
	position: fixed; 
	width: 100%; 
}
#bg img {
	position: absolute; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
}


/* Grid
----------------------------------------------------------------
.column {
	float: left;
	margin-left: 5%;
}
.column:first-child {
	margin-left: 0;
}
.column.full {
	width: 100%;
}
.column.body {
	width: 75%;
}
.column.body-fill {
	width: 12.5%;
}
.column.two-thirds {
	width: 65%;
}
.column.half {
	width: 47.5%;
}
.column.one-third {
	width: 30%;
}
.column.one-fourth {
	width: 21.25%;
}
*/

/* Typography
----------------------------------------------------------------*/
body {
	font-family: "jaf-facitweb", Helvetica, sans-serif;
	font-size: 100%;
	line-height: 160%;
	background-color: #FFFAFA; /* #FFFAFA #EEEEEE */
}
.container p {
	margin: 8px 16% 24px 16%;
}
.containerWork p {
	width: 960px;
	margin: 8px auto 24px auto;
	padding: 0 12% 0 12%;
}
.containerInfo p {
	width: 640px;
	margin: 8px auto 24px auto;
}
h1 {
	width: 720px;
	margin: 0px auto 0 auto;
	text-align: left;
	font-size: 400%;
	font-weight: 600;
	line-height: 96%;
	letter-spacing: -0.024em;
	color: #FFFFFF;
	clear: both;
}
h2 {
	font-size: 148%;
	line-height: 140%;
	font-weight: 300;
	text-align: center;
	color: #FFFFFF;
	margin: 0 12.5% 0 12.5%;
	padding: 24% 0 0 0;
}
h3 {
	width: 720px;
	padding: 24px 0 24px 0;
	margin: 0 auto 0 auto;
	font-size: 124%;
	line-height: 140%;
	font-weight: 300;
	color: #333332;
	font-weight: normal;
}
h4 {
	font-weight: 700;
	font-size: 20px;
	color: #333332;
}
.containerInfo h4 {
	width: 640px;
	color: #333332;
	margin: 0 auto 0 auto;
}
h5 {
	width: 720px;
	font-size: 132%;
	line-height: 140%;
	font-weight: 300;
	text-align: left;
	color: #FFFFFF;
	margin: 32px auto 0 auto;
	border-top: 1px solid #FFFFFF;
	padding-top: 8px;
	clear: both;
}
h6 {
	font-size: 200%;
	font-weight: 600;
	text-align: center;
	color: #333332;
}


/* Links
----------------------------------------------------------------*/
a {
	text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
	text-decoration: none;
}
.container p a {
	color: #333332;
	border-bottom: 1px solid #333332;
}
.container p
a:hover,
a:active,
a:visited {
	color: #333332;
	border-bottom: 1px solid #333332;
}
.container .home h2 a {
	font-weight: 300;
	color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.container .home h2
a:hover,
a:active,
a:visited {
	color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.workImageLink {
	margin-top: -320px;
	font-weight: 600;
	font-size: 180%;
	text-decoration: none;
	display: inline;
	padding: 4px 12px 4px 12px;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 32px;
	position: relative;
	overflow: hidden;
	width: 100%;
	min-width: 960px;
	height: 480px;
	background-size: 100%; 
}
/* .container h2 a {
	color: #333332;
	border-bottom: 1px solid #333332;
}
.container h2
a:hover,
a:active,
a:visited {
	color: #333332;
	border-bottom: 1px solid #333332;
} */
.container .home .homeButton p {
	text-align: center;
	font-size: 100%;
	margin: 32px 0 32px 0;
}
.container .home .homeButton p a {
	font-weight: 600;
	text-decoration: none;
	display: inline;
	padding: 4px 12px 4px 12px;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 16px;
	list-style: none;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
.container .home .homeButton p a:hover {
	font-weight: 600;
	text-decoration: none;
	display: inline;
	padding: 4px 12px 4px 12px;
	color: #333332;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 16px;
	list-style: none;
}
.containerWork h6 {
	text-align: center;
	margin: 24px 0 16px 0;
}
.containerWork h6 a {
	font-weight: 600;
	text-decoration: none;
	display: inline;
	color: #333332;
	list-style: none;
}
.containerWork h6 a:hover {
	font-weight: 600;
	text-decoration: none;
	display: inline;
	color: #333332;
	list-style: none;
}
.containerWork p .readProjects {
	text-align: center;
	margin: 32px 0 32px 0;
}
.containerWork p a.readProjects {
	font-weight: 600;
	text-decoration: none;
	display: inline;
	padding: 8px 24px 8px 24px;
	color: #333332;
	border: 1px solid #333332;
	border-radius: 32px;
	list-style: none;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
.containerWork p a:hover.readProjects {
	font-weight: 600;
	text-decoration: none;
	display: inline;
	padding: 8px 24px 8px 24px;
	color: #FFFAFA;
	background-color: #333332;
	border: 1px solid #333332;
	border-radius: 32px;
	list-style: none;
}

/* h6 a {
	border: 1px solid #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-right: 16px;
	padding-left: 16px;
	border-radius: 32px;
}
h6
a:hover,
a:active,
a:visited {
} */
.footerHome a {
	font-weight: 300;
	color: #FFFFFF;
}
.footerHome a:hover {
	text-decoration: underline;
}

footer a {
	font-weight: 300;
	color: #FFFFFF;
}
footer a:hover {
	font-weight: 300;
	text-decoration: underline;
}

/* Images */
/* img {
	margin-left: auto;
	margin-right: auto;
} */
#centerImage {
	text-align: center;
	margin: 0 0 24px 0;
}
/* #workCenterImage {
	text-align: center;
	margin: 32px 0 16px 0;
} */
.profile {
	text-align: center;
	margin: 112px 25% 32px 25%;
	border: 4px solid #FFFFFF;
	border-radius: 100%;
}

/* Video Stuff */
#vimeo {
	text-align: center;
}
#ip4f {
	text-align: center;
	position: relative;
	z-index:-1;
}
#ip4vv {
	text-align: center;
	position: relative;
	top:-484px;
	margin:0 0 -405px 0;
}
#ip4vh {
	text-align: center;
	position: relative;
	top:-300px;
	margin:0 0 -284px 0;
}
hr {
	margin: 40px 120px 32px 120px;
	
}